@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");

body {
  font-family: "Zen Maru Gothic", serif;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 50px;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    font-size: 16px;

    &--round {
      width: 200px;
      height: 40px;
      margin-top: 10px;
      border: 1px solid black;
      border-radius: 9999px;
      font-size: 14px;
    }

    &--square {
      margin-top: 20px;
      border: 2px solid lightsalmon;
      background-color: white;
    }

    &--line-pink {
      background: linear-gradient(transparent 30%, pink 30%);
    }

    &--line-green {
      background: linear-gradient(transparent 30%, green 30%);
    }
  }

  .img {
    width: 80%;
    height: 80%;

    &--bg-white {
      border: 10px solid white;
    }
  }

  .heading {
    display: inline;
    padding: 5px;
    font-size: 20px;
    line-height: 35px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;

    &--bg-white {
      background-color: white;
    }

    &--bg-pink {
      background-color: pink;
      font-size: 22px;
      line-height: 50px;
    }
  }

  .caption {
    text-align: center;
    line-height: 22px;
    font-size: 14px;

    &--bg-white {
      background-color: white;
    }
  }
}

.header {
  width: 100%;

  &__wrapper {
    max-width: 1180px;
    height: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__right-wrapper {
    display: flex;
    align-items: center;
  }

  .logo {
    display: inline-block;
    width: 80px;
  }
}

.menu {
  margin-left: 20px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &:hover {
    cursor: pointer;
  }

  &.is-open {
    .menu__line {
      width: 40px;

      &:nth-child(1) {
        animation: rotate-to-right 0.2s ease-in;
        transform: translateY(5px) rotate(45deg);
      }

      &:nth-child(2) {
        animation: rotate-to-left 0.2s ease-in;
        transform: translateY(-5px) rotate(-45deg);
      }
    }

    @keyframes rotate-to-right {
      0% {
        transform: translateY(0) rotate(0);
      }
      100% {
        transform: translateY(5px) rotate(225deg);
      }
    }

    @keyframes rotate-to-left {
      0% {
        transform: translateY(0) rotate(0);
      }
      100% {
        transform: translateY(-5px) rotate(-225deg);
      }
    }

    .menu__text {
      display: none;
    }
  }

  &__line {
    display: block;
    width: 30px;
    border-bottom: 1px solid black;

    &:nth-child(2) {
      width: 50px;
      margin-top: 10px;
    }
  }

  &__text {
    margin-top: 5px;
  }
}

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  background-image: url("./img/modal-bg.png");
  background-position: center;
  background-size: cover;

  &.is-open {
    display: block;
    animation: fadein 0.5s ease;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  &__list + &__list {
    margin-top: 40px;
  }

  &__item {
    margin: 2px;

    &:nth-child(6) {
      margin-top: 30px;
    }
  }
}

.main {
  width: 100%;
}

.mv {
  position: relative;
  padding-top: 30px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;

  &__title {
    text-align: center;
    padding-bottom: 20px;
    font-size: 42px;
    line-height: 60px;
  }

  &__catchcopy {
    text-align: center;
    font-size: 18px;
  }

  &__heading {
    margin-top: 20px;
    text-align: center;
  }

  &__img {
    margin-top: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 15vw solid white;
    border-left: 100vw solid transparent;
  }
}

.detail {
  padding: 30px 0;
  background-color: white;

  &__heading {
    margin-left: 38px;
  }

  &__img {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer {
  position: relative;
  background-color: lightsalmon;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 60vw solid pink;
    border-left: 100vw solid transparent;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: relative;
    z-index: 10;
  }

  &__copyright {
    margin: 20px 0 20px 0;
    font-size: 10px;
  }
}
