@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

* {
  font-family: "M PLUS Rounded 1c", sans-serif;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 16px;

    &--round {
      margin-top: 10px;
      border: 1px solid black;
      border-radius: 9999px;
    }

    &--square {
      margin-top: 20px;
      border: 1px solid black;
      background-color: white;
    }

    &--line-pink {
      background: linear-gradient(transparent 30%, pink 30%);
    }

    &--line-green {
      background: linear-gradient(transparent 30%, green 30%);
    }
  }

  .img {
    width: 80%;
    height: 80%;

    &--bg-white {
      border: 10px solid white;
    }
  }
}

// header
.header {
  width: 100%;

  &__wrapper {
    max-width: 1180px;
    height: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
  }

  &__right-wrapper {
    display: flex;
    align-items: center;
  }
}

.menu {
  margin-left: 20px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &:hover {
    cursor: pointer;
  }

  &.is-open {
    .menu__line {
      width: 40px;

      &:nth-child(1) {
        animation: rotate-to-right 0.2s ease-in;
        transform: translateY(5px) rotate(45deg);
      }

      &:nth-child(2) {
        animation: rotate-to-left 0.2s ease-in;
        transform: translateY(-5px) rotate(-45deg);
      }
    }

    @keyframes rotate-to-right {
      0% {
        transform: translateY(0) rotate(0);
      }
      100% {
        transform: translateY(5px) rotate(225deg);
      }
    }

    @keyframes rotate-to-left {
      0% {
        transform: translateY(0) rotate(0);
      }
      100% {
        transform: translateY(-5px) rotate(-225deg);
      }
    }

    .menu__text {
      display: none;
    }
  }

  &__line {
    display: block;
    width: 30px;
    border-bottom: 1px solid black;

    &:nth-child(2) {
      width: 50px;
      margin-top: 10px;
    }
  }

  &__text {
    margin-top: 5px;
  }
}

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  background-image: url("./img/modal-bg.png");
  background-position: center;
  background-size: cover;

  &.is-open {
    display: block;
    animation: fadein 0.5s ease;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  &__list + &__list {
    margin-top: 40px;
  }

  &__item {
    margin: 2px;

    &:nth-child(6) {
      margin-top: 30px;
    }
  }
}

.main {
  width: 100%;
  text-align: center;
  background-color: bisque;
}

.mv {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 20px 0;
    font-size: 40px;
    line-height: 60px;
  }

  &__catchcopy {
    font-size: 20px;
  }

  &__heading {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;

    &--bg-white {
      background: linear-gradient(transparent 30%, white 30%);
      text-align: start;
    }

    &--bg-pink {
      background: linear-gradient(transparent 30%, pink 30%);
      text-align: end;
    }
  }

  &__img {
    margin-top: 20px;
  }
}
