@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

body {
  font-family: "M PLUS Rounded 1c", sans-serif;

  button {
    border: none;
    background-color: transparent;
    font-size: 16px;
  }
}

// header
.header {
  width: 100%;

  &__wrapper {
    max-width: 1180px;
    height: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
  }

  &__right-wrapper {
    display: flex;
    align-items: center;
  }
}

.menu {
  margin-left: 20px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &:hover {
    cursor: pointer;
  }

  &.is-open {
    .menu__line {
      width: 40px;

      &:nth-child(1) {
        animation: rotate-to-right 0.2s ease-in;
        transform: translateY(5px) rotate(45deg);
      }

      &:nth-child(2) {
        animation: rotate-to-left 0.2s ease-in;
        transform: translateY(-5px) rotate(-45deg);
      }
    }

    @keyframes rotate-to-right {
      0% {
        transform: translateY(0) rotate(0);
      }
      100% {
        transform: translateY(5px) rotate(225deg);
      }
    }

    @keyframes rotate-to-left {
      0% {
        transform: translateY(0) rotate(0);
      }
      100% {
        transform: translateY(-5px) rotate(-225deg);
      }
    }

    .menu__text {
      display: none;
    }
  }

  &__line {
    display: block;
    width: 30px;
    border-bottom: 1px solid black;

    &:nth-child(2) {
      width: 50px;
      margin-top: 10px;
    }
  }

  &__text {
    margin-top: 5px;
  }
}

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  background: #ffffff;

  &.is-open {
    display: block;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  &__list + &__list {
    margin-top: 40px;
  }

  &__item {
    margin: 8px;

    &:nth-child(6) {
      margin-top: 50px;
    }
  }

  &__button {
    width: 200px;
    height: 40px;

    &--line-pink {
      background: linear-gradient(transparent 30%, pink 30%);
    }

    &--line-green {
      background: linear-gradient(transparent 30%, green 30%);
    }

    &--round {
      border: 1px solid black;
      border-radius: 9999px;
    }
  }
}

.main {
  width: 100%;
  text-align: center;
}

.mv {
  &__title {
    margin: 20px 0;
    font-size: 40px;
    line-height: 60px;
  }

  &__catchcopy {
    font-size: 20px;
  }
}
