@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

body button {
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.header {
  width: 100%;
}

.header__wrapper {
  max-width: 1180px;
  height: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
}

.header__right-wrapper {
  display: flex;
  align-items: center;
}

.menu {
  margin-left: 20px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu:hover {
  cursor: pointer;
}

.menu.is-open .menu__line {
  width: 40px;
}

.menu.is-open .menu__line:nth-child(1) {
  animation: rotate-to-right 0.2s ease-in;
  transform: translateY(5px) rotate(45deg);
}

.menu.is-open .menu__line:nth-child(2) {
  animation: rotate-to-left 0.2s ease-in;
  transform: translateY(-5px) rotate(-45deg);
}

@keyframes rotate-to-right {
  0% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(5px) rotate(225deg);
  }
}

@keyframes rotate-to-left {
  0% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(-5px) rotate(-225deg);
  }
}

.menu.is-open .menu__text {
  display: none;
}

.menu__line {
  display: block;
  width: 30px;
  border-bottom: 1px solid black;
}

.menu__line:nth-child(2) {
  width: 50px;
  margin-top: 10px;
}

.menu__text {
  margin-top: 5px;
}

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  background-image: url("./img/modal-bg.png");
  background-position: center;
  background-size: cover;
}

.modal.is-open {
  display: block;
  animation: fadein 0.5s ease;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.modal__list + .modal__list {
  margin-top: 40px;
}

.modal__item {
  margin: 8px;
}

.modal__item:nth-child(6) {
  margin-top: 50px;
}

.modal__button {
  width: 200px;
  height: 40px;
}

.modal__button--line-pink {
  background: linear-gradient(transparent 30%, pink 30%);
}

.modal__button--line-green {
  background: linear-gradient(transparent 30%, green 30%);
}

.modal__button--round {
  border: 1px solid black;
  border-radius: 9999px;
}

.main {
  width: 100%;
  text-align: center;
}

.mv__title {
  margin: 20px 0;
  font-size: 40px;
  line-height: 60px;
}

.mv__catchcopy {
  font-size: 20px;
}
